@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";

@theme{
    --font-Inter: "Inter", sans-serif;
    --font-JetBrainsMono: "JetBrains Mono", monospace; 
    --font-BricolageGrotesque: "Bricolage Grotesque", sans-serif;
}

textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-track {
  background: #18181b; 
}

textarea::-webkit-scrollbar-thumb {
  background: #3f3f46; 
  border-radius: 4px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #52525b; 
}